
.layer p {
  color: #fff;
  text-align: center;
}
.p-style {
  font-weight: bold;
  font-size: 65px;
}

@media only screen and (min-width: 360px) {
  .p-style {
    font-weight: bold;
    font-size: 45px;
  }

}

.btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn a {
  text-decoration: none;
}

.btn-1 {
  width: 200px;
  height: 50px;
  background-color: #ea522f;
  color: #fff;
  border-radius: 30px;
  text-align: center;
  padding: 13px;
  margin-right: 5px;
  margin-top: 10px;
}

.btn-2 {
  width: 200px;
  height: 50px;
  background-color: #2088df;
  color: #fff;
  border-radius: 30px;
  text-align: center;
  padding: 13px;
  margin-top: 10px;
}

.bg-image {
  height: 70vh;
  background-size: contain;
  background-image: linear-gradient(
      rgba(44, 59, 80, 0.7),
      rgba(44, 59, 80, 0.7)
    ),
    url("./assets/bags.jpg");
  background-attachment: fixed;
}
.bg-image-2 {
  height: 83vh;
  width: 100%;
  background-size: contain;
  background-image: linear-gradient(
      rgba(44, 59, 80, 0.7),
      rgba(44, 59, 80, 0.7)
    ),
    url("./assets/bags.jpg");
  background-attachment: fixed;
}
.bg-image-3 {
  height: 90vh;
  width: 100%;
  background-size: contain;
  background-image: linear-gradient(
      rgba(44, 59, 80, 0.9),
      rgba(44, 59, 80, 0.9)
    ),
    url("./assets/bags.jpg");
  background-attachment: fixed;
}

.div-margin div {
  margin-right: 10px;
  margin-top: 10px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #b2c3d3;
}

.div-margin-2 div {
  margin-right: 20px;
  margin-top: 20px;
}

.div-margin-3 div {
  margin-top: 10px;
}
.div-margin-4 div {
  margin-right: 30px;
  margin-top: 20px;
}

.footer-div a {
  text-decoration: none;
  /* color: #fff; */
  padding-right: 5px;
  font-size: 16px;
}
.marg-common {
  margin: 50px 100px 50px 200px;
}

.a-rm a{
  text-decoration: none;
}
