.layer p {
  color: #fff;
  text-align: center;
}
.p-style {
  font-weight: bold;
  font-size: 65px;
}

.btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn a {
  text-decoration: none;
}

.btn-1 {
  width: 200px;
  height: 50px;
  background-color: #ea522f;
  color: #fff;
  border-radius: 30px;
  text-align: center;
  padding: 13px;
  margin-right: 5px;
  margin-top: 10px;
}

.btn-2 {
  width: 200px;
  height: 50px;
  background-color: #2088df;
  color: #fff;
  border-radius: 30px;
  text-align: center;
  padding: 13px;
  margin-top: 10px;
}

@media only screen and (min-width: 360px) {
  .p-style {
    font-weight: bold;
    font-size: 45px;
  }
}
.bg-image {
  height: 100vh;
  background-size: contain;
  background-image: linear-gradient(
      rgba(44, 59, 80, 0.7),
      rgba(44, 59, 80, 0.7)
    ),
    url("./assets/bags.jpg");
  background-attachment: fixed;
}

.div-margin div{
  margin-right: 10px;
  margin-top: 10px;
}
